.nav{
	margin-top: 50px;
}

.navbar{
	background-color:  #f1c40f ;
}

.jumbotron{
    background-image: url("../foto/Logo.png");
    background-size: cover;
    background-position-y: center;
}


.kopie{
	clear: both;
	padding: 10px;
	background-color: #636363;
	color: #66CCFF;
	text-align: center;
	margin-left:  -15px;
	margin-right: -15px;
}

.kopie a{
	color: #66CCFF;
}
